p {
	/* Content - Width & Height */

	width: 50%;

	/* Border */

	border: 2px solid blue;

	/* Padding */

	/*padding: 10px;*/
	padding-left: 40px;

	/* Margin */

	/*margin-top: 50px;*/
	/*margin: 20px 40px 100px 50px;*/
	margin: 0 auto 0 auto;
}